# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
asgiref==3.3.4
ca-certificates==2021.5.25
certifi==2021.5.30
chardet==4.0.0
django==3.2.4
djangorestframework==3.12.4
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
joblib==1.0.1
ld_impl_linux-64==2.35.1
libffi==3.3
libgcc-ng==9.3.0
libgomp==9.3.0
libstdcxx-ng==9.3.0
ncurses==6.2
numpy==1.20.3
openssl==1.1.1k
pip==21.1.2
python==3.9.5
python-dateutil=1.5
pytz==2021.1
readline==8.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
setuptools==52.0.0
sklearn==0.0
sqlite==3.35.4
sqlparse==0.4.1
threadpoolctl==2.1.0
tk==8.6.10
tzdata==2020f
urllib3==1.26.5
wheel==0.36.2
xz==5.2.5
zlib==1.2.11
